.main_menu_side {
    background-color: #1F283D;
}

.nav_title {
    background: #19202F;
}

.nav_menu {
    background: #FFFFFF;
    border-bottom: 0;
}

.left_col {
    background: #19202f;
}

.menu_section > ul {
    margin-top: 0;
}

.nav.side-menu > li > a, .nav.child_menu > li > a {
    color: #fff;
}

.site_title {
    color: #fff;
    padding-left: 10px;
}

.dropdown-menu > li > a {
    color: #333;
}

body {
    background: #f7f7f7;
    color: #394d63;
}

.nav.side-menu > li.active > a {
    background: #1F283D;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.16) inset;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.nav.side-menu > li.current-page, .nav.side-menu > li.active {
    border-right: 6px solid #337ab7;
}

.form-control {
    border-radius: 4px;
}

.select2-container--default .select2-selection--single {
    border-radius: 4px;
}

.tagsinput {
    border-radius: 4px;
}

.editormd {
    border-radius: 4px;
}

.page-header {
    margin: 66px 0 20px;
}