*.class
# Package Files #
*.war
*.ear
/target

*~
.classpath
*.iml
.idea
.project
.attach_pid*
1.log
logs
.settings
target
hs_err*.log
web/src/main/webapp/post
web/src/main/webapp/attached
web/src/main/webapp/WEB-INF/classes
web/src/main/webapp/WEB-INF/plugins/*
web/src/main/webapp/include/templates/template*

web/src/main/webapp/include/templates/README.md
web/src/main/webapp/include/templates/*.sh
web/src/main/webapp/include/templates/.gitignore
rebel.xml
tomcat.*
*.jar
!.mvn/wrapper/maven-wrapper.jar
*.hprof
