*.class
*.war
*.ear
/target

*~
.classpath
*.iml
.idea
.project
.attach_pid*
1.log
logs
.settings
target
hs_err*.log
static/post
static/temp
static/_cache
static/attached
conf/classes
conf/plugins/*

static/include/templates/README.md
static/include/templates/*.sh
static/include/templates/.gitignore
web/log
web/logs
rebel.xml
*.jar
!.mvn/wrapper/maven-wrapper.jar
*.hprof
log/
web/sim.pid
sim.pid
.DS_Store
.vscode
pom.xml.versionsBackup
static/include/
web/src/main/zrlog
web/src/main/lib
static/install
static/admin
conf/update-temp/zrlog.zip
/blog-web/src/main/frontend/node_modules/
/admin-web/src/main/frontend/node_modules/
zrlog.zip
/data/src/main/resources/build.properties
node_modules
*.zip
temp
cache/**
._.DS_Store
zrlog.bgv
/zrlog
/conf/update-temp/
1
static/favicon.ico
static/pwa/icon