*.class
# Package Files #
*.war
*.ear 
/target

*~
.classpath
*.iml
.idea
.project
.attach_pid*
1.log
logs
.settings
target
hs_err*.log
src/main/webapp/post
src/main/webapp/attached
src/main/webapp/WEB-INF/classes
src/main/webapp/WEB-INF/plugins/*
src/main/webapp/include/templates/template*

src/main/webapp/include/templates/README.md
src/main/webapp/include/templates/*.sh
src/main/webapp/include/templates/.gitignore
src/main/resources/rebel.xml
tomcat.*
*.jar
!.mvn/wrapper/maven-wrapper.jar