section h2,
section .post-title {
    padding-top: 16px
}

section .category-title {
    color: #666666;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 3px rgba(198, 198, 198, 0.5);
    padding: 10px 20px;
    margin-bottom: 10px;
}

section h3,
section h4 {
    color: #333333;
    margin-bottom: 0.6em;
}

section h3, section h3 span {
    font-size: 18px;
}

section h4, section h4 span {
    font-size: 16px;
}

section h5, section h5 span {
    font-size: 14px;
}

section p {
    margin-bottom: 1em;
    text-align: left;
}

section p em {
    font-style: italic;
}

section p a,
section article li a,
section .content a {
    text-decoration: underline;
    color: #3366cc;
}

section p sub a,
section p sup a,
section article li sub a, section .content sub a,
section article li sup a, section .content sup a {
    text-decoration: none;
}

section p a:hover,
section .content table {
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}

section .content th,
section .content td {
    padding: 5px 8px;
    font-size: 16px;
    border: 1px solid #DDDDDD;
}

section .content th {
    font-weight: bold;
    background-color: #f2f2f2;
    text-align: center;
}

section .content h1 {
    color: #333333;
    margin-bottom: 0.6em;
    font-size: 22px;
}

section .content h2 {
    color: #333333;
    margin-bottom: 0.6em;
    font-size: 20px;
}

section .content h2, section .content h3, section .content h4, section .content h5, section .content h6 {
    margin-top: 1.5em;
}

section .content h2:first-child, section .content h3:first-child, section .content h4:first-child {
    margin-top: 0;
}

section .entry {
    position: relative
}

section .entry .post-title {
    margin-bottom: 16px;
}

section .entry h3 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0.6em;
}

section .entry .article-image {
    line-height: 1;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 15px;
    margin-bottom: 10px;
    padding-right: 0; /*border:6px solid #f8f8f8; box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.25)*/
}

section .entry .article-image img {
    width: auto;
    max-width: none;
}

section .entry li { /*padding: 5px 10px; margin-bottom: 10px;*/
    line-height: 180%;
}

section .entry li a {
    text-decoration: underline;
}

section .entry li strong {
    font-weight: bold;
    padding: 0 2px;
}

article {
    margin-bottom: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, .9333333);
    line-height: 1;
    box-shadow: 0 0 2px rgba(198, 198, 198, 0.5);
    -webkit-transition: top 1s ease, left 1s ease;
    -moz-transition: top 1s ease, left 1s ease;
    -o-transition: top 1s ease, left 1s ease;
    -ms-transition: top 1s ease, left 1s ease;
}

article p, article p span, article p strong, article li, article blockquote {
    color: #333;
    font: normal 16px/175%  sans-serif;
}

article p {
    margin-bottom: 1em;
}

article p strong {
    font-weight: bold;
}

article > p:last-child {
    margin-bottom: 0;
}

article h1.post-title {
    padding: 0 20px 10px;
    margin: 0 -20px 10px;
    border-bottom: 1px dotted #e4e4e4;
}

article .post-title a:hover {
    text-decoration: none;
}

article pre {
    background-color: #F8F8F8;
    overflow: auto;
    margin-bottom: 1em;
    word-wrap: break-word;
    border: 1px dashed #EDEDED;
    border-radius: 2px;
}

article pre p {
    margin: 0;
}

article blockquote {
    position: relative;
    border-left: 2px solid #DDDDDD;
    padding-left: 0.5em;
    margin-bottom: 0.8em;
    text-align: justify;
}

article blockquote:before { /*content:"“"; position:absolute; left:-25px; top:5px;font-family:'\5b8b\4f53';font-size:36px;*/
}

article blockquote, article blockquote p, article blockquote span {
    color: #999999;
}

article img {
    max-width: 100% /*680px*/;
    height: auto;
}

article p img.img660 {
    margin: 0 auto;
    padding: 10px;
    background-color: #F8F8F8;
}

article ul {
    margin-bottom: 10px;
    margin-left: 10px;
}

article ul ul {
    margin: 0 0 0 10px
}

article li { /*padding: 2px 0 2px 10px; background:url(../images/dot.gif) no-repeat scroll 2px 11px transparent;*/
}

article li:before {
    content: "•";
    padding-right: 5px;
    margin-left: -10px;
}

article li a:hover {
    text-decoration: underline;
}

/* Aside */
aside a:hover {
    text-decoration: underline
}

aside h2, aside h3 {
    font-weight: bold;
    margin-bottom: 5px;
}

aside h2 {
    font-size: 18px;
}

aside h3 {
    font-size: 16px;
    margin: 0 -15px;
    padding: 5px 15px;
    background-color: rgba(233, 233, 233, .3);
}

aside .widget {
    padding: 0 15px 5px;
}

aside .widget p {
    padding: 5px 0;
}

aside .search input[type=text] {
    width: 80%;
    height: 40px;
    padding: 0;
    border: 0 none;
    border-bottom: 1px solid #E4E4E4;
}

aside .search input[type=text]:focus {
}

aside .search input.btn {
    width: 20%;
    height: 40px;
    padding: 0;
    border: 0 none;
    vertical-align: middle;
    outline: none;
    background-color: #E4E4E4;
    border-radius: 0;
}

aside .search input.btn:hover { /*box-shadow: 0 0 5px #DDDDDD;*/
    cursor: pointer;
}

aside .search p {
    padding: 0;
}

aside > div:last-child {
    margin-bottom: 0;
}

aside nav a {
    text-decoration: none;
}

aside nav a:hover {
    text-decoration: underline
}

aside nav li {
    padding: 0.2em 0 0.2em 10px;
}

aside li {
    margin: 0 -15px;
}

aside li a {
    display: block;
    padding: 0.5em 15px;
    text-decoration: none;
}

aside li a .time {
    float: right;
    font-size: .8em;
    line-height: 1.8em;
    color: #999
}

aside li.active {
    position: relative;
}

aside li.active:after {
    position: absolute;
    left: 0;
    top: 6px;
    border: 10px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
    border-left-color: rgba(237, 237, 239, 1);
}

aside li.active a {
    font-weight: bold;
}

aside li a:hover {
    background-color: #FFFFFF;
    text-decoration: none
}

/* Comment */
.comment {
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 1);
    padding: 15px 20px;
    box-shadow: 0 0 2px rgba(198, 198, 198, 0.5)
}

.comment h2 {
    color: #666666;
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 18px
}

.comment label {
    width: 42px;
    height: auto;
    padding: .5em;
}

.comment input[type=text],
.comment textarea {
    margin: 0;
    outline: none;
}

.comment textarea {
    border-width: 1px;
    border-color: #DDDDDD #E4E4E4 #E4E4E4 #DDDDDD;
    border-style: solid;
    height: 146px;
}

.comment li {
    border-bottom: 1px dotted #F2F2f2;
    padding: 10px;
    margin-bottom: 1.2em;
    background-color: #f8f8f8;
}

.comment li p {
    margin-bottom: 0;
}

.comment li.even {
    background-color: #F8F8F8;
}

.comment p.small {
    font-size: 11px;
    margin-bottom: 0;
    text-align: right;
}

.comment form p {
    margin-bottom: 10px;
}

.comment .comment-write {
    width: 100%;
}

.comment .comment-write textarea {
    width: 100%; /*box-shadow: 0 0 2px #DDDDDD inset;*/
}

.comment .comment-write textarea:focus {
    box-shadow: 0 0 5px #DDDDDD;
}

.comment .remember label {
    float: none;
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    color: #333333;
}

.pager-nav {
    clear: both;
    margin-bottom: 20px;
}

.pager-nav strong {
    font-weight: bold;
    color: #666666;
}

.pager-nav p {
    margin: 5px 0;
    width: 100%;
    font-size: 16px;
    line-height: 1.5em;
    background-color: #FFFFFF;
    padding: 10px 15px;
    box-shadow: 0 0 2px rgba(198, 198, 198, 0.5);
    -webkit-transition: top 1s ease, left 1s ease;
    -moz-transition: top 1s ease, left 1s ease;
    -o-transition: top 1s ease, left 1s ease;
    -ms-transition: top 1s ease, left 1s ease;
}

.pager-nav p:before {
    vertical-align: -1px;
    margin-right: 2px;
}

.pager-nav p.prev:before {
    content: "\e619";
}

.pager-nav p.next:before {
    content: "\e61a";
}

.pager-nav a:hover {
    text-decoration: none;
}

.pager-nav a:hover p {
    text-decoration: none;
}

@media screen and (max-width: 1280px) {
    body {
        overflow: auto;
    }
}

@media screen and (max-width: 1024px) {
    .main aside { /*display:none;*/
    }

    .main, .top header, .bottom footer {
        width: auto;
    }

    .main section {
        width: 70%
    }

    .main aside {
        width: 29%
    }

    .one-column .main section {
        width: 100%
    }

    /*.albums .container{width:100%}*/
}

@media screen and (max-width: 960px) {
    .footer-left, .footer-left .box {
        width: auto;
    }

    .top header, .main, .bottom footer {
        width: auto;
    }

    .top {
        background-color: transparent
    }

    header nav.mainnav, header .site-name {
        display: none;
    }

    .gn-menu-main {
        display: block;
    }

    aside .fixed {
        top: 73px;
    }
}

@media screen and (max-width: 800px) {
    .main section,
    .main aside {
        width: 100%;
    }

    .main aside .widget {
        float: left;
        width: 30%;
    }

    aside .archives {
        height: auto;
    }

    .gotop {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .main article {
        width: auto;
    }

    .main aside .widget {
        width: 50%;
    }

    .albums .container {
        width: 720px;
    }

    .comments-wrapper {
        width: auto;
    }

    .comment .comment-write, .comments-wrapper .input-group {
        float: none;
    }

    .comment .comment-write, .comments-wrapper .input-group {
        width: 100%;
    }

    .comment label {
        float: none;
    }

    .pager-nav p.next, .pager-nav p {
        float: none;
        width: auto;
        text-align: left;
    }

    .footer-left {
        padding: 0 15px;
        float: none;
    }

    .footer-right {
        float: none;
        margin-left: 15px;
    }
}

@media screen and (max-width: 640px) {
    .main aside .widget {
        width: 100%;
    }

    aside .search input[type=text] {
        width: 100%;
    }

    aside .search input.btn {
        display: none;
    }

    .albums .container {
        width: 640px;
    }
}

@media screen and (max-width: 480px) {
    .footer-left {
        border-bottom: 1px solid #E4E4E4;
        margin-bottom: 10px;
    }

    .footer-left .box {
        width: auto;
    }

    .main article .float-left {
        float: none;
        text-align: center;
        padding-right: 0;
    }

    .main .entry .article-image {
        width: 100%;
        height: auto;
        border-radius: 0;
        margin-right: 0;
        border: 0 none;
        box-shadow: none;
    }

    .main .entry .article-image img {
        width: 100%
    }
}


.h2, h2 {
    font-size: 1.6rem;
}

.bg-light {
    font-size: 18px;
}

.nav-item {
    padding-right: 20px;
}

ul, ol {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

.pagination {
    margin-bottom: 20px;
}