/* 转载请保留版权信息：懒人图库 www.lanrentuku.com */
*{ padding:0px; margin:0px;}
*html{background-image:url(about:blank);background-attachment:fixed;}/*解决IE6下滚动抖动的问题*/
#tbox{width:54px; float:right; position:fixed; right:50px; bottom:15px;
_position:absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
_margin-bottom:15px;
}/*解决IE6下不兼容 position:fixed 的问题*/
#pinglun,#xiangguan,#gotop{ width:54px; height:56px; background:url(../images/icon.png) no-repeat; display:block;}
#pinglun{ background-position:0 0;}
#xiangguan{ background-position:0 -59px;}
#gotop{ background-position:0 -118px;} 



