.page-list .current_page_item > a {
	font-weight: bold;
}
.page-list-ext {
	clear: both;
}
.page-list-ext {
	
}
.page-list-ext::before {
	line-height: 0; display: table; content: "";
}
.page-list-ext::after {
	line-height: 0; display: table; content: "";
}
.page-list-ext::after {
	clear: both;
}
.page-list-ext .page-list-ext-item {
	margin: 10px 0px 30px; clear: both;
}
.page-list-ext .page-list-ext-image {
	margin: 5px 15px 15px 0px; float: left; display: inline;
}
.page-list-ext .page-list-ext-title {
	clear: none;
}
