Version: [[version]]+[[gitCommitId]]
Section: build-web-system
Priority: optional
Maintainer: "zrlog" support@zrlog.com
Package: [[packageName]]
Architecture: [[architecture]]
Depends:
Homepage: https://www.zrlog.com
Description: ZrLog is an open-source blog system built with Java. It provides article, category, tag, comment, theme, plugin, static page generation, and online update features.
