Version: [[version]]+[[gitCommitId]]
Section: build-web-system
Priority: optional
Maintainer: "xx" xx@xx.com
Package: [[packageName]]
Architecture: all
Depends:
Description: ZrLog is a blog/CMS program developed in Java. It is simple, easy to use, componentized, and has low memory footprint. Bring your own Markdown editor and let more focus on writing, rather than spending a lot of time learning the use of the program.