@import 'layout/index-layout';
@import 'components/login/login';
@import 'components/article/article-edit';

ul {
  margin-bottom: 0;
}

.ant-typography h3, h3.ant-typography {
  margin-bottom: .5em;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.35;
}

.ant-typography h4, h4.ant-typography {
  margin-bottom: .5em;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
}

.ant-tabs-tab {
  margin-right: 24px;
}
