.dark {
  @import '~antd/dist/antd.dark';
  @import 'app';

  #sider {
    background-color: #1f1f1f;
  }

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #141414;
  }

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #1f1f1f;
  }
}
